.App {
  text-align: center;
}

.counter {
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  justify-content: center;
  border: 1px solid;
  margin: 50px 100px;
  padding: 50px;
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.btn {
  border: 1px solid;
  padding: 5px 15px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.start {
  background-color: green;
}

.pause {
  background-color: orange;
}

.reset {
  background-color: orangered;
}

input {
  font-size: 40px;
  width: 80px;
  border: none;
  /*border-bottom: 2px solid;*/
  text-align: end;
  color: gray;
}

.min-div {
  display: flex;
  flex-direction: column;
}

.sec-div {
  display: flex;
  flex-direction: column;
}

label {
  font-size: medium;
  font-weight:200;
}

.colon {
  display: flex;
  align-items: center;
}